.footer {
    background-color: #282A36;
    color: white;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 200px;
    flex-wrap: wrap;
    border-top: 2px solid #444;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.footer-logo img {
    height: 80px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    flex-grow: 1;
    min-width: 200px;
}

.footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bbb;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: white;
}
