body {
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: darkseagreen;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
nav {
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}
nav ul li {
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}
nav ul li:hover {
    color: lime;
}
.logo {
    height: 25px;
    width: auto;
}

.logo:first-child {
    transform: scaleX(-1);
    margin-left: 20px;
}

.logo:last-child {
    margin-right: 20px;
}