<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="footer-logo">
            <img src="images/snakeheader.png" alt="Logo">
        </div>
        <div class="footer-content">
            <div class="footer-section updates">
                <h2>OPDATERINGER</h2>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Discord</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
            <div class="footer-section company">
                <h2>SELSKAB</h2>
                <ul>
                    <li><a href="#">Betingelser for brug</a></li>
                    <li><a href="#">Privatlivspolitik</a></li>
                    <li><a href="#">Cookiepolitik</a></li>
                    <li><a href="#">Spiludgivere</a></li>
                    <li><a href="#">Spiludviklere</a></li>
                    <li><a href="#">Kontakt os</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
