<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<header>
    <img src="/images/snakeheader.png" alt="Logo" class="logo">
    <nav>
        <ul>
            <li>Forside</li>
            <li>Simulering</li>
            <li>Guide</li>
        </ul>
    </nav>
    <img src="/images/snakeheader.png" alt="Logo" class="logo">
</header>
</body>
</html>
